<style>
  .info-list__item__icon[data-name='<%=footer_section.email.name%>'] {
    background-image: url('<%=footer_section.email.icon%>');
  }
  .info-list__item__icon[data-name='<%=footer_section.phone.name%>'] {
    background-image: url('<%=footer_section.phone.icon%>');
  }
  .info-list__item__icon[data-name='<%=footer_section.localisation.name%>'] {
    background-image: url('<%=footer_section.localisation.icon%>');
  }
</style>

<footer>
  <ul class="info-list footer__info-list">
    <li class="info-list__item">
      <div
        class="info-list__item__icon"
        data-name="<%=footer_section.email.name%>"
        role="presentation"
      ></div>
      <span class="info-list__item__label"
        ><%=footer_section.email.label%>
      </span>
      <a
        class="info-list__item__info"
        href="mailto:<%=footer_section.email.email%>"
        ><%=footer_section.email.email%></a
      >
    </li>
    <li class="info-list__item">
      <div
        class="info-list__item__icon"
        data-name="<%=footer_section.phone.name%>"
        role="presentation"
      ></div>
      <span class="info-list__item__label"
        ><%=footer_section.phone.label%>
      </span>
      <a
        class="info-list__item__info"
        href="tel:<%=footer_section.phone.phone%>"
        ><%=footer_section.phone.phone%></a
      >
    </li>
    <li class="info-list__item">
      <div
        class="info-list__item__icon"
        data-name="<%=footer_section.localisation.name%>"
        role="presentation"
      ></div>
      <span class="info-list__item__label"
        ><%=footer_section.localisation.label%></span
      >
      <address class="info-list__item__info">
        <%=footer_section.localisation.address%>
      </address>
    </li>
  </ul>
</footer>
