<header >
    <h2 class="portfolio-title"><a href="/home.html"><%=header_section.portfolio_title%></a></h2>
    <nav class="portfolio-navigation">
        <menu class="portfolio-navigation__items">
            <% header_section.nav_pages.forEach(function(navPage){ %>
                <li class="<%=navPage.className %>"><a  href="<%=navPage.url %>"><%=navPage.label%> </a></li>
              <% }); %>
        </menu>
    </nav>

    <aside class="activity-bar">        
            <button class="btn $frbtn"><a href="/fr<%=currentUrl%>">Francais (FR)</a></button>
            <button class="btn $enbtn"><a href="/en<%=currentUrl%>">English (US)</a></button>
    </aside>
</header>