<!doctype html>
<html lang="en">
  <%- include('/head.ejs') %>

  <style>
    .info-list__item__icon[data-name='<%=contact.contact_info.email.name%>'] {
      background-image: url('<%=contact.contact_info.email.icon%>');
    }
    .info-list__item__icon[data-name='<%=contact.contact_info.phone.name%>'] {
      background-image: url('<%=contact.contact_info.phone.icon%>');
    }
    .info-list__item__icon[data-name='<%=contact.contact_info.localisation.name%>'] {
      background-image: url('<%=contact.contact_info.localisation.icon%>');
    }
  </style>

  <body class="dark-theme">
    <%- include('/header.ejs') %>
    <main class="contact-main">
      <section class="card">
          <h1 class="card__header card__header_level-one card__header_primary">
            <%=contact.form_title%>
          </h1>
          <form class="contact-form" action="" method="post">
              <input type="text" name="" id="" placeholder="<%=contact.form_placeholder_firstname%>" />
              <input type="text" name="" id="" placeholder="<%=contact.form_placeholder_lastname%>" />
              <input type="text" name="" id="" placeholder="<%=contact.form_placeholder_email%>" />
              <input type="text" name="" id="" placeholder="<%=contact.form_placeholder_phone%>" />
              <select name="service" id="" required>
                  <option value="" disabled selected><%=contact.form_select_option_disableld%></option>
                  <%contact.form_select_options.forEach(element => {%>
                    <option value="#"><%=element%></option>
                  <%})%>
              </select>
              <textarea name="" id="" placeholder="Insérez votre message ici." rows="7"></textarea>
              <button class="contact-from__btn btn" type="submit"><%=contact.form_btn_submit%></button>
          </form>
      </section>
      <nav class="contact-nav">
          <ul class="info-list">
            <li class="info-list__item">
                  <div class="info-list__item__icon" role="presentation"   data-name="<%=contact.contact_info.email.name%>"></div>
                  <span class="info-list__item__label"><%=contact.contact_info.email.label%> </span>
                  <a class="info-list__item__info" href="mailto:<%=contact.contact_info.email.email%>"><%=contact.contact_info.email.email%></a>
              </li>
              <li class="info-list__item">
                  <div class="info-list__item__icon" role="presentation"   data-name="<%=contact.contact_info.phone.name%>"></div>
                  <span class="info-list__item__label"><%=contact.contact_info.phone.label%> </span>
                  <a class="info-list__item__info" href="tel:<%=contact.contact_info.phone.phone%>"><%=contact.contact_info.phone.phone%></a>
              </li>
              <li class="info-list__item">
                  <div class="info-list__item__icon" role="presentation"   data-name="<%=contact.contact_info.localisation.name%>"></div>
                  <span class="info-list__item__label"><%=contact.contact_info.localisation.label%></span>
                  <address class="info-list__item__info"><%=contact.contact_info.localisation.address%>
                  </address>
              </li>
          </ul>
      </nav>
  </main>
  </body>
</html>
