<!doctype html>
<html lang="en">
<%- include('/head.ejs') %>

  <style>
    .info-list__item__icon[data-name='<%=contact.contact_info.email.name%>'] {
      background-image: url('<%=contact.contact_info.email.icon%>');
    }

    .info-list__item__icon[data-name='<%=contact.contact_info.phone.name%>'] {
      background-image: url('<%=contact.contact_info.phone.icon%>');
    }

    .info-list__item__icon[data-name='<%=contact.contact_info.localisation.name%>'] {
      background-image: url('<%=contact.contact_info.localisation.icon%>');
    }

    .invalid-input {
      border: solid red 2px;
    }
  </style>

  <script defer>
    window.onload = function () {
      const urlParams = new URLSearchParams(window.location.search);
      const errorParam = urlParams.get('error');
      const lang = urlParams.get('lang')
      if (!errorParam) return
      //console.log(errorParam)
      const errorField = errorParam.split(',')
      console.log(errorField)
      if (errorField.length < 1) return
      errorField.forEach((e) => {
        if (e === 'firstname') {
          const input = document.querySelector(`input[name="${e}"]`)
          if (!input) return
          input.setAttribute("class", "invalid-input")
        }
        if (e === 'lastname') {
          const input = document.querySelector(`input[name="${e}"]`)
          if (!input) return
          input.setAttribute("class", "invalid-input")
        }
        if (e === 'email') {
          const input = document.querySelector(`input[name="${e}"]`)
          if (!input) return
          input.setAttribute("class", "invalid-input")
        }
        if (e === 'phone') {
          const input = document.querySelector(`input[name="${e}"]`)
          if (!input) return
          input.setAttribute("class", "invalid-input")
        }
        if (e === 'service') {
          const select = document.querySelector(`select[name="${e}"]`)
          if (!select) return
          select.setAttribute("class", "invalid-input")
        }
        if (e === 'content') {
          const textarea = document.querySelector(`textarea[name="${e}"]`)
          if (!textarea) return
          textarea.setAttribute("class", "invalid-input")
        }
      })

      errorField.forEach((e) => {
        urlParams.forEach((value, key) => {
          if (key !== e && key === 'firstname') { document.querySelector(`input[name="${key}"]`).value = value }
          if (key !== e && key === 'lastname') document.querySelector(`input[name="${key}"]`).value = value
          if (key !== e && key === 'email') document.querySelector(`input[name="${key}"]`).value = value
          if (key !== e && key === 'phone') document.querySelector(`input[name="${key}"]`).value = value
          if (key !== e && key === 'service') document.querySelector(`select[name="${key}"]`).value = value
          if (key !== e && key === 'content') document.querySelector(`textarea[name="${key}"]`).value = value
        })
      })

      window.history.pushState({}, document.title, "/" + `${lang}/contact.html`)
    }
  </script>

  <body class="dark-theme">
    <%- include('/header.ejs') %>
      <main class="contact-main">
        <section class="card">
          <h1 class="card__header card__header_level-one card__header_primary">
            <%=contact.form_title%>
          </h1>
          <form class="contact-form" action="/api/contact" method="post">
            <input type="text" name="lang" id="" hidden value="<%=contact.form_lang%>" required>
            <input type="text" name="firstname" id="" placeholder="<%=contact.form_placeholder_firstname%>" required />
            <input type="text" name="lastname" id="" placeholder="<%=contact.form_placeholder_lastname%>" required />
            <input type="email" name="email" id="" placeholder="<%=contact.form_placeholder_email%>" required />
            <input type="tel" name="phone" id="" placeholder="<%=contact.form_placeholder_phone%>" required />
            <select name="service" id="" required>
              <option disabled selected>
                <%=contact.form_select_option_disableld%>
              </option>
              <%contact.form_select_options.forEach(element=> {%>
                <option>
                  <%=element%>
                </option>
                <%})%>
            </select>
            <textarea name="content" id="content" placeholder="Insérez votre message ici." rows="7" required></textarea>
            <div class="g-recaptcha" data-sitekey="$[public-key]" data-action="LOGIN" data-callback="formSubmit"></div>
            <button class="contact-from__btn btn" type="submit">
              <%=contact.form_btn_submit%>
            </button>
          </form>
        </section>
        <nav class="contact-nav">
          <ul class="info-list">
            <li class="info-list__item">
              <div class="info-list__item__icon" role="presentation" data-name="<%=contact.contact_info.email.name%>">
              </div>
              <span class="info-list__item__label">
                <%=contact.contact_info.email.label%>
              </span>
              <a class="info-list__item__info" href="mailto:<%=contact.contact_info.email.email%>">
                <%=contact.contact_info.email.email%>
              </a>
            </li>
            <li class="info-list__item">
              <div class="info-list__item__icon" role="presentation" data-name="<%=contact.contact_info.phone.name%>">
              </div>
              <span class="info-list__item__label">
                <%=contact.contact_info.phone.label%>
              </span>
              <a class="info-list__item__info" href="tel:<%=contact.contact_info.phone.phone%>">
                <%=contact.contact_info.phone.phone%>
              </a>
            </li>
            <li class="info-list__item">
              <div class="info-list__item__icon" role="presentation"
                data-name="<%=contact.contact_info.localisation.name%>"></div>
              <span class="info-list__item__label">
                <%=contact.contact_info.localisation.label%>
              </span>
              <address class="info-list__item__info">
                <%=contact.contact_info.localisation.address%>
              </address>
            </li>
          </ul>
        </nav>
      </main>
  </body>

</html>