<!doctype html>
<html lang="en">
  <%- include('/head.ejs') %>

  <body class="dark-theme">
    <%- include('/header.ejs') %>
    <main>
      <nav class="career-nav">
        <menu class="career-nav__menu">
          <%career.nav_menu.forEach(navItem => {%>
            <li><a class="btn" href="<%=navItem.htmlHref%>"><%=navItem.label%></a></li>
          <%})%>
        </menu>
      </nav>
      <%career.sections.forEach(section => {%>
        <section id="<%=section.htmlId%>" class="career-tab-container">
          <h2 class="career-tab-container__title"><%=section.title%></h2>
          <p class="career-tab-container__description">
            <%=section.presentation%>
          </p>
          <div class="career-tab-container__cards-wrapper">
            <%section.cards.forEach(card => {%>
              <section class="card card_summary">
                <div class="card__header card__header_float">
                  <div class="card__header__label" role="doc-subtitle" aria-label="de 2022 à 2023">
                    <%=card.duration%>
                  </div>
                  <h6>
                    <%=card.label%>
                  </h6>
                </div>
                <%if(card.link){%>
                    <a class="card_link" href="<%=card.link%>" title="plus de detail"></a>
                <%} %>
                <%if((card.entity)){%>
                  <h6 class="card__sub-header">
                    <%=card.entity%>
                  </h6>
                <%} %>
                <%if((card.project)){%>
                  <p class="card__sub-header">
                    <%=card.project%>
                  </p>
                <%} %>
                <%if((card.details)){%>
                  <p class="card__sub-header">
                    <%=card.details%>
                  </p>
                <%} %>
              </section>
            <%})%>
          </div>
        </section>
      <%})%>
    </main>
    <%- include('/footer.ejs') %>
  </body>
</html>
