<!doctype html>
<html lang="en">
  <%- include('/head.ejs') %>

  <body class="dark-theme">
    <style>
      /*<%home.social_media.forEach((media) => {%>*/

      .btn_icon[data-name='<%=media.name%>']:after {
        background-image: url('<%=media.icon%>');
      }
      /*<% })%>*/
    </style>
    <%- include('/header.ejs') %>
    <main>
      <h1 style="width: 40%; margin: 15% auto"><%= waiting_page.content%></h1>
    </main>
    <%- include('/footer.ejs') %>
  </body>
</html>
